.App{
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  /* font-family: 'Josefin Sans', sans-serif; */
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  background-color: antiquewhite;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;

}